<%= form_for(@prediction) do |f| %>
  <% if @prediction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

      <ul>
      <% @prediction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= f.label :prediction %><br />
    <%= f.text_field :prediction %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.date_select :deadline %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-warning' %>
  </div>
<% end %>
