<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @prediction.email %>
</p>

<p>
  <b>Prediction:</b>
  <%= @prediction.prediction %>
</p>

<p>
  <b>Deadline:</b>
  <%= @prediction.deadline %>
</p>


<%= link_to 'Back', new_prediction_path %>
